*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(182, 215, 182);
}

#panel{
    color: white;
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

#ptop{
    padding: 1vw 19vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(71, 93, 71);
}

.elem{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.elem h2{
    font-weight: 400;
    font-size: 1.5vw;
}

.box{
    background-color: #ffffff;
    color: rgb(24, 139, 66);
    font-weight: 600;
    font-size: 1.5vw;
    padding: 0.5vw 1vw;
}

#pbottom{
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    width: 100%;
    height: calc(100% - 10vh);
    padding: 3vw 2vw;
    justify-content: center;
    align-items: center;
    color: #134600;
}

.bubble{
    font-weight: 600;
    color: #134600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vh;
    height: 6vh;
    background-color: rgba(179, 255, 179, 0.427);
    top: 0;
    left: 0;
    border-radius: 50%;
    box-shadow: inset 6px 6px 10px 0 rgba(0,0,0,0.2),
    inset -6px -6px 10px 0 rgba(255 , 255 , 255 , 0.5);
}

.bubble:hover{
    cursor: pointer;
    background-color: #abce9d;
    box-shadow: inset -6px -6px 10px 0 rgba(0,0,0,0.2),
    inset 6px 6px 10px 0 rgba(255 , 255 , 255 , 0.5);
}